.pagination {
  display: flex;
  gap: 1rem;
  padding-bottom: 20px;
}

.paginationBtn {
  color: #b6b6b6;
  background: none;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  cursor: not-allowed;
}

.paginationBtn.active {
  color: aqua;
  cursor: pointer;
  outline: none;
}

.pageNumber {
  border-radius: 50%;
  border: 2px solid;
  padding: 0.5rem 0.8rem;
  line-height: normal;
  color: #a5a5a5;
  font-weight: bold;
}
